@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
  -webkit-font-smoothing: antialiased;
  /*chrome、safari*/
  -moz-osx-font-smoothing: grayscale;
  /*firefox*/
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

a {
  color: #333333;
  text-decoration: none; }

.nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px); }
  .nav .nav-content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .nav .nav-content .nav-list {
      width: 100%;
      height: 100%;
      cursor: default;
      text-align: right; }
      .nav .nav-content .nav-list .nav-item {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0 12px;
        z-index: 1;
        vertical-align: top; }
        .nav .nav-content .nav-list .nav-item.nav-forward {
          width: 118px;
          float: left; }
        .nav .nav-content .nav-list .nav-item .nav-link {
          font-size: 16px;
          color: #444;
          display: inline-block;
          line-height: 90px;
          height: 100%;
          opacity: 1;
          -webkit-transition: opacity .2s;
          transition: opacity .2s; }
          .nav .nav-content .nav-list .nav-item .nav-link:hover {
            opacity: .75; }
          .nav .nav-content .nav-list .nav-item .nav-link.nav-link-forward {
            position: relative;
            width: 100%; }
            .nav .nav-content .nav-list .nav-item .nav-link.nav-link-forward img {
              position: absolute;
              right: 0;
              top: 33px;
              width: 118px;
              height: 24px; }

footer {
  height: 305px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 70px;
  background: #f6f8fa; }
  footer .footer-content {
    height: 100%;
    max-width: 980px;
    margin: 0 auto;
    cursor: default;
    font-size: 0; }
    footer .footer-content:after {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      height: 0;
      content: '';
      vertical-align: top; }
    footer .footer-content .footer-column {
      width: 33.3333%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 10px;
      height: 100%;
      vertical-align: top;
      display: inline-block;
      text-align: left; }
      footer .footer-content .footer-column h5 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #333;
        letter-spacing: .3em; }
      footer .footer-content .footer-column ul {
        font-size: 13px;
        line-height: 34px;
        color: #666; }
        footer .footer-content .footer-column ul li .icon {
          vertical-align: middle;
          margin-right: 10px; }
        footer .footer-content .footer-column ul li .weixin-container {
          position: relative; }
          footer .footer-content .footer-column ul li .weixin-container:hover .qrcode-container {
            display: block; }
          footer .footer-content .footer-column ul li .weixin-container .qrcode-container {
            display: none;
            width: 100px;
            height: 100px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            background: #fff;
            padding: 10px;
            position: absolute;
            bottom: 20px; }
            footer .footer-content .footer-column ul li .weixin-container .qrcode-container .qrcode {
              width: 80px;
              height: 80px; }

.nav {
  position: absolute;
  background: rgba(255, 255, 255, 0.4); }

.main {
  width: 100%;
  margin-top: 90px;
  min-height: 900px;
  background: #000;
  font-size: 0; }
  .main .slide {
    width: 100%;
    height: 900px; }
    .main .slide.hero {
      position: relative;
      background: #000 url("http://www3.res.meizu.com/static/cn/accessory/flow/images/flow-bg_ea06cae.jpg") no-repeat center;
      background-size: cover;
      color: #fff; }
      .main .slide.hero .content {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -133px;
        margin-left: 180px; }
        .main .slide.hero .content h1 {
          font-size: 100px;
          font-weight: 900;
          margin-bottom: 20px; }
        .main .slide.hero .content .sub-title {
          font-size: 35px;
          margin-bottom: 63px; }
        .main .slide.hero .content .desc {
          font-size: 30px; }
    .main .slide.slide-item1 {
      position: relative;
      height: 1000px;
      overflow: hidden;
      background: #fff url("https://www3.res.meizu.com/static/cn/accessory/a20/images/bg-nice_fb05cdc.jpg") no-repeat center bottom;
      background-size: cover; }
      .main .slide.slide-item1 .content {
        text-align: center;
        padding-top: 800px; }
        .main .slide.slide-item1 .content h1 {
          font-size: 42px;
          margin-bottom: 20px; }
        .main .slide.slide-item1 .content .desc {
          line-height: 1.6;
          font-size: 16px; }
    .main .slide.slide-item2 {
      font-size: 0; }
      .main .slide.slide-item2 .slide-left {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 100%;
        background: #000;
        overflow: hidden; }
        .main .slide.slide-item2 .slide-left .content {
          position: absolute;
          left: 0;
          margin-left: 90px;
          top: 50%;
          font-size: 16px;
          color: #fff;
          text-align: left;
          width: 380px;
          margin-top: -90px; }
          .main .slide.slide-item2 .slide-left .content h1 {
            font-size: 42px;
            margin-bottom: 40px; }
          .main .slide.slide-item2 .slide-left .content .desc {
            line-height: 1.6; }
      .main .slide.slide-item2 .slide-right {
        display: inline-block;
        width: 50%;
        height: 100%;
        background: #000 url(https://qiaoer2017.github.io/lingdong/img/item1.c25e5b7.jpg) no-repeat center;
        background-size: cover; }
    .main .slide.slide-item3 {
      background: #fff url("https://www3.res.meizu.com/static/cn/accessory/a20/images/bg-quality_5c083ea.jpg") no-repeat center 0;
      width: 100%;
      height: 778px; }
      .main .slide.slide-item3 .content {
        position: relative;
        padding: 145px 0 0;
        width: 450px;
        text-align: left;
        margin-left: 40px; }
        .main .slide.slide-item3 .content h1 {
          font-size: 42px;
          line-height: 68px;
          margin-bottom: 20px;
          letter-spacing: 1px; }
        .main .slide.slide-item3 .content p {
          font-size: 16px;
          line-height: 28px; }
    .main .slide.slide-item4 {
      height: 990px;
      background: #000 url(//www3.res.meizu.com/static/cn/accessory/hd50/summary/images/headphone_water_0469141.jpg) center center; }
      .main .slide.slide-item4 .content {
        width: 422px;
        margin: 345px 30px 0 0;
        color: #fff;
        float: right; }
        .main .slide.slide-item4 .content h1 {
          font-size: 42px;
          margin-bottom: 15px;
          line-height: 52px; }
        .main .slide.slide-item4 .content .desc {
          font-size: 16px;
          line-height: 28px; }
    .main .slide.slide-item5 {
      position: relative;
      width: 100%;
      height: 990px;
      background: url("https://www3.res.meizu.com/static/cn/accessory/flow/images/wear_d2842bb.jpg") no-repeat center;
      background-size: cover; }
      .main .slide.slide-item5 .content {
        position: absolute;
        width: 440px;
        left: 54px;
        top: 50%;
        margin-top: -120px;
        color: #333;
        text-align: left; }
        .main .slide.slide-item5 .content h1 {
          font-size: 42px;
          margin-bottom: 40px; }
        .main .slide.slide-item5 .content .desc {
          font-size: 16px;
          line-height: 1.5; }
    .main .slide.slide-item6 {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 20px;
      background: #fff url("https://www3.res.meizu.com/static/cn/accessory/flow/images/package-bg_35b1e8e.jpg") no-repeat center bottom;
      background-size: cover; }
      .main .slide.slide-item6 .content {
        padding-top: 120px;
        text-align: center;
        width: 73%;
        margin: 0 auto;
        color: #fff; }
        .main .slide.slide-item6 .content h1 {
          font-size: 42px;
          margin-bottom: 40px; }
        .main .slide.slide-item6 .content .desc {
          font-size: 16px;
          line-height: 1.6; }
    .main .slide.slide-item7 {
      position: relative;
      background: #fff;
      height: auto;
      min-height: 600px;
      padding: 50px 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .main .slide.slide-item7 .content {
        padding-left: 60px; }
        .main .slide.slide-item7 .content h1 {
          font-size: 42px;
          margin-bottom: 26px; }
        .main .slide.slide-item7 .content .parameters {
          width: 90%; }
          .main .slide.slide-item7 .content .parameters .parameter-item {
            margin-bottom: 20px;
            font-weight: 300;
            height: 27px;
            line-height: 27px; }
            .main .slide.slide-item7 .content .parameters .parameter-item .key {
              width: 130px;
              display: inline-block;
              font-size: 18px; }
            .main .slide.slide-item7 .content .parameters .parameter-item .value {
              display: inline-block;
              font-size: 18px; }
      .main .slide.slide-item7 img {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -200px;
        width: 331px;
        height: 481px; }
