<system.webServer>
 <rewrite>
  <rules>
   <rule name="Go to www.forwardx.com">
     <match url="(.*)" ignoreCase="true" />
     <conditions>
      <add input="{HTTP_HOST}" pattern="^forwardx\.com$" />
      <add input="{HTTP_HOST}" pattern="^renaissancerobot\.com$" />
      <add input="{HTTP_HOST}" pattern="^www\.renaissancerobot\.com$" />
      <add input="{HTTP_HOST}" pattern="^forwardx\.ai$" />
      <add input="{HTTP_HOST}" pattern="^www\.forwardx\.ai$" />
     </conditions>
     <action type="Redirect" url="http://www.forwardx.com/{R:1}" redirectType="Permanent" />
   </rule>
  </rules>
 </rewrite>
</system.webServer>